/PandaRC/x64/Debug/*.log
/PandaRC/x64/Debug/PandaRC.tlog/*.tlog
/PandaRC/x64/Debug/*.obj
/PandaRC/x64/Debug/*.pdb
/PandaRC/x64/Debug
/PandaRC/*.opendb
/tightvnc-2.8.11-gpl/Debug/client-config-lib/*.obj
/tightvnc-2.8.11-gpl/Debug/client-config-lib/client-c.97B29C1C.tlog/*.tlog
/tightvnc-2.8.11-gpl/Debug/config-lib/config-lib.tlog/*.tlog
*.obj
*.tlog
*.log
*.pdb
*.idb
Debug
/tightvnc-2.8.11-gpl/*.opendb
/PandaRC/*.db
/PandaRC/.vs
/tightvnc-2.8.11-gpl/.vs/tightvnc/v14/.suo
/tightvnc-2.8.11-gpl/*.db
/*.db
/*.opendb
/.vs/PandaRC/v14/*.suo
/.svn
/Libs/*.lib
/Client/Bin/*.exe
/Client/Bin/*.ilk
/Server/Bin/*.exe
/Server/Bin/*.ilk
/processhackerx64zw/processhacker_x64_23987.com/*.url
